img {
  width: 100%;
  border-radius: 10px;
}

.tripInfo {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
}

#card {
  color: #58c4ff;
  display: none;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-top: 3px solid #ff612f;
  border-bottom: 3px solid #ff612f;
}

#img{
  margin: auto;
}

#where
{
  color: white;
  font-style: italic;
}

#when
{
  color: white;
  font-style: italic;
}

#weather
{
  color: white;
  font-style: italic;
}
